<!DOCTYPE html>
<html lang="en">
<head>
  <title>Footer Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="footer.css">
	<link
      href="{{ url_for('static', filename='css/footer.css') }}"
      rel="stylesheet"
    />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		
			<div class="footer-col">
				<h4>Company</h4>
				<ul>
					<li><a href="#">about Us</a></li>
					<li><a href="#">our services</a></li>
					<li><a href="#">privacy policy</a></li>
					<li><a href="#">affiliate program</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>Get Help</h4>
				<ul>
					<li><a href="#">FAQs</a></li>
					<li><a href="#">Legal</a></li>
					<li><a href="#">Law Services</a></li>
					<li><a href="#">Documents</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>Extra Sevices</h4>
				<ul>
					<li><a href="#">AI Panel</a></li>
					<li><a href="#">Law summary</a></li>
					<li><a href="#">Simplified Law</a></li>
					<li><a href="#">Required Documents</a></li>
				</ul>
			</div>
  	 		<div class="footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

</body>
</html>
