<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legal ai </title>
    <style>
        *{
            height: 6444px;
            background-color: rgb(255, 210, 235);
        }
        h2{
            color: rgb(0, 0, 0);
            position: relative;
           
           position: absolute;
           left: 38%;
           top: 50%;
        }
    </style>
</head>
<body>
   <h2>Services will be provided soon</h2> 
</body>
</html>